* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.chat-container {
    width: 100%;
    max-width: 600px;
    margin: 20px;
}

.chat-box {
    background-image: url('../—Pngtree—emoji\ of\ social\ media\ or_1607991.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 400px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
   
} 

.chat-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.chat-messages div {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.chat-messages .sent {
    background-color: #dcf8c6;
    align-self: flex-end;
}

.chat-messages .received {
    background-color: #ececec;
    align-self: flex-start;
}

#chat-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-top: 1px solid #ddd;
    outline: none;
}

#send-btn {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #4cae4c;
}
